@import '/src/styles/_variables.scss';

.button {
  color: $white;
  background-color: $blue;
  border-radius: 0.2rem;
  border: none;
  padding: 0.3rem 1rem;
  min-width: 100px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $grayBlue;
  }
}

.buttonLink {
  border: none;
  color: $dustyBlue;
}
