@import '/src/styles/_variables.scss';

.usersContainer {
  display: flex;
  gap: 1rem;
  padding: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoMessage {
  font-size: 12px;
  color: $dustyBlue;
}
