$blue: #5188C1; //buttons
$grayBlue: #658FB7; //hover-buttons
$dustyBlue: #7F91A4; //small text
$black: black; //background chat
$white: white;
$darkGray: #17212B; //background blocks chat, background message
$darkBlue: #5188C1; // name users

$defaultPrimary: #07263c; //background page
$lightPrimary: #2B5279; //background message
