.registration {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  box-sizing: border-box;
}

.wrapper-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  padding-bottom: 40px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
}

.title-registration {
    margin-top: 50px;
    margin-bottom: 40px;
}
